.idea
*/desktop.ini
/.vscode
.DS_Store
.github/.DS_Store
Adam-Pope/.DS_Store
Buzzie/.DS_Store
Draper/.DS_Store
Frexe/.DS_Store
JJJonesJr33/.DS_Store
nwithan8/.DS_Store
sysmoon/.DS_Store
yozora/.DS_Store
