libraries:
  Movies:
    schedule_overlays: weekly(monday|wednesday|friday|sunday)
    template_variables:
      use_separator: false
    metadata_files:
    - folder: config/metadata_folders
    collection_files:
    - folder: config/movies
    - default: content_rating_au
    - default: continent
      template_variables:
        include:
        - Oceania
    - default: franchise
      template_variables:
        title_override:
          33514: The Twilight Saga
          9743: Hannibal Lecter
          489724: Trolls
    #- default: genre
    - default: letterboxd
      template_variables:
        use_imdb_top_250: true 
        use_oscars: true 
        use_cannes: true 
        visible_library_top_250: true 
        visible_home_top_250: true 
        visible_shared_top_250: true
    - default: other_chart
      template_variables:
        use_anidb: false
        use_stevenlu: false
        use_pirated: false
        visible_library_commonsense: true
        visible_home_commonsense: true
        visible_shared_commonsense: true
    - default: razzie
    - default: seasonal
      template_variables:
        use_patrick: false
        use_memorial: false
        schedule_father: range(09/01-09/07)
        use_independence: false
        use_labor: false
        use_veteran: false
        use_thanksgiving: false
        use_aapi: false
    - default: studio
      template_variables:
        include:
        - A24
        - Blue Sky Studios
        - DreamWorks Studios
        - DreamWorks Pictures
        - Pixar
        - Studio Ghibli
        - Walt Disney Animation Studios
        - Walt Disney Pictures
        - Walt Disney Productions
    - default: tautulli
    - default: universe
    #- default: collectionless
    overlay_files:
    - default: commonsense
    - default: mediastinger
    - default: resolution
      template_variables:
        use_resolution: false
        use_edition: true
    - default: ribbon
    settings:
      asset_directory:
      - config/assets/Movies/
      - config/assets/Collections/
      prioritize_assets: false
    operations:
    - schedule: daily
      assets_for_all: true
      delete_collections:
        configured: false
      metadata_backup:
        path: config/backups/Movies_Metadata_Backup.yml
        sync_tags: true
        add_blank_entries: false
    - schedule: Weekly (monday)
      mass_user_rating_update: mdb_tomatoes
    - schedule: Weekly (tuesday)
      mass_critic_rating_update: imdb
    - schedule: Weekly (wednesday)
      mass_audience_rating_update: tmdb
    - schedule: yearly(01/01)
      mass_genre_update:
      - tmdb
      - imdb
      - omdb
      - tvdb
    - schedule: Weekly (friday)
      mass_content_rating_update:
      - mdb_commonsense
      - omdb
    - schedule: Weekly (saturday)
      mass_studio_update:
      - tmdb
      - tvdb
      - omdb
    - schedule: Weekly (sunday)
      mass_originally_avaliable_update:
      - tmdb
      - tvdb
      - omdb
  TV Shows:
    schedule_overlays: weekly(tuesday|thursday|saturday)
    report_path: config/missing/TV_report.yml
    template_variables:
      use_separator: false
    library_name: TV Shows
    collection_files:
    - folder: config/tvshows
    # - default: based
    - default: content_rating_au
    - default: continent
      template_variables:
        include:
        - Oceania
    - default: franchise
    - default: genre
    - default: other_chart
      template_variables:
        use_anidb: false
        use_stevenlu: false
        use_pirated: false
        visible_library_commonsense: true
        visible_home_commonsense: true
        visible_shared_commonsense: true
    - default: tautulli
    - default: universe
    metadata_files:
    - folder: config/metadata_folders
    overlay_files:
    - default: commonsense
    - default: status
    - default: ribbon
    settings:
      asset_directory:
      - config/assets/TV Shows/
      - config/assets/Collections/
      prioritize_assets: true
    operations:
    - schedule: daily
      assets_for_all: true
      delete_collections:
        configured: false
      metadata_backup:
        path: config/backups/TVShows_Metadata_Backup.yml
        sync_tags: true
        add_blank_entries: false
    - schedule: Weekly (monday)
      mass_user_rating_update: mdb_tomatoes
    - schedule: Weekly (tuesday)
      mass_critic_rating_update: imdb
    - schedule: Weekly (wednesday)
      mass_audience_rating_update: tmdb
    - schedule: yearly (01/01)
      mass_genre_update:
      - tmdb
      - imdb
      - omdb
      - tvdb
    - schedule: Weekly (friday)
      mass_content_rating_update:
      - mdb_commonsense
      - omdb
    - schedule: Weekly (saturday)
      mass_studio_update:
      - tmdb
      - tvdb
      - omdb
    - schedule: Weekly (sunday)
      mass_originally_avaliable_update:
      - tmdb
      - tvdb
      - omdb
  Music:
    schedule: weekly (tuesday|thursday|sunday)
    library_name: Music
    collection_files:
    - folder: config/music
    settings:
      asset_directory: config/assets/Music
playlist_files:
- default: playlist
  template_variables:
    libraries: Movies, TV Shows
- folder: config/playlists
settings:
  cache: true
  cache_expiration: 2048
  asset_directory: config/assets
  report_path: config/missing
  asset_folders: true
  asset_depth: 1
  create_asset_folders: true
  prioritize_assets: false
  dimensional_asset_rename: true
  download_url_assets: true
  show_missing_season_assets: false
  show_missing_episode_assets: false
  show_asset_not_needed: false
  sync_mode: sync
  minimum_items: 1
  default_collection_order:
  delete_below_minimum: true
  delete_not_scheduled: false
  run_again_delay: 2
  missing_only_released: true
  only_filter_missing: false
  show_unmanaged: true
  show_unconfigured: true
  show_filtered: false
  show_options: false
  show_missing: false
  show_missing_assets: false
  save_report: false
  tvdb_language: eng
  ignore_ids:
  ignore_imdb_ids:
  item_refresh_delay: 0
  playlist_sync_to_user: all
  playlist_exclude_users:
  playlist_report: false
  verify_ssl: false
  custom_repo:
  check_nightly: true
  run_order:
  - operations
  - metadata
  - collections
  - overlays
  overlay_artwork_filetype: jpg
  overlay_artwork_quality:
webhooks:
  error: notifiarr
  version: notifiarr
  run_start: notifiarr
  run_end: notifiarr
  changes: notifiarr
  delete:  
plex:
  url: http://localhost:32400
  token: [REDACTED]
  timeout: 600
  clean_bundles: false
  empty_trash: false
  optimize: false
  db_cache:
tmdb:
  apikey: [REDACTED]
  language: en
  cache_expiration: 600
  region:
tautulli:
  url: http://localhost:1818
  apikey: [REDACTED]
omdb:
  apikey: [REDACTED]
  cache_expiration: 600
mdblist:
  apikey: [REDACTED]
  cache_expiration: 600
notifiarr:
  apikey: [REDACTED]
radarr:
  url: http://localhost:7878
  token: [REDACTED]
  add_missing: false
  add_existing: false
  root_folder_path: Z:\data\media\movies
  monitor: true
  availability: announced
  quality_profile: HD Bluray + Web
  tag:
  search: false
  radarr_path:
  plex_path:
  upgrade_existing: false
  ignore_cache: false
sonarr:
  url: http://localhost:8989
  token: [REDACTED]
  add_missing: false
  add_existing: false
  root_folder_path: Z:\data\media\tv
  monitor: all
  quality_profile: WEB-1080p
  language_profile: English
  series_type: standard
  season_folder: true
  tag:
  search: false
  cutoff_search: false
  sonarr_path:
  plex_path:
  upgrade_existing: false
  ignore_cache: false
trakt:
  client_id: [REDACTED]
  client_secret: [REDACTED]
  pin:
  authorization:
    access_token: [REDACTED]
    token_type: [REDACTED]
    expires_in: [REDACTED]
    refresh_token: [REDACTED]
    scope: [REDACTED]
    created_at: [REDACTED]
