# This is the main configuration file for Kometa.
# It defines the Plex libraries to manage, global settings,
# and connections to external services like TMDb, Trakt, etc.

# The 'libraries' section defines the Plex libraries that Kometa will manage.
# Each library has its own set of collections, overlays, and operations.
libraries:
  # Configuration for the 'Movies' library in Plex.
  Movies:
    # Schedule for when to apply overlays to movie posters.
    # This runs on Monday, Wednesday, Friday, and Sunday.
    schedule_overlays: weekly(monday|wednesday|friday|sunday)
    # Template variables are used to pass values to templates.
    template_variables:
      use_separator: false
    # Specifies metadata files to apply to the library.
    metadata_files:
    - folder: config/metadata_folders
    # A list of collection files to be processed for this library.
    # These files define the logic for creating collections in Plex.
    collection_files:
    - folder: config/movies  # Custom collection files
    - default: content_rating_au # Default collection for Australian content ratings
    - default: continent # Default collection for continents
      template_variables:
        include:
        - Oceania
    - default: franchise # Default collection for movie franchises
      template_variables:
        title_override: # Override titles for specific franchises
          33514: The Twilight Saga
          9743: Hannibal Lecter
          489724: Trolls
    - default: letterboxd # Collections based on Letterboxd data
      schedule: monthly(17)
      template_variables:
        use_imdb_top_250: true
        use_oscars: true
        use_cannes: true
        visible_library_top_250: true
        visible_home_top_250: true
        visible_shared_top_250: true
    - default: other_chart # Collections from other movie charts
      template_variables:
        use_anidb: false
        use_stevenlu: false
        use_pirated: false
        visible_library_commonsense: true
        visible_home_commonsense: true
        visible_shared_commonsense: true
    - default: razzie # Collection for Razzie-winning movies
    - default: seasonal # Collections for seasonal events (e.g., Christmas)
      template_variables:
        trakt_list_christmas: https://trakt.tv/users/k0meta/lists/christmas-extravaganza-non-tv-movie
        schedule_christmas: range(11/01-12/26)
        use_patrick: false
        use_memorial: false
        schedule_father: range(09/01-09/07)
        use_independence: false
        use_labor: false
        use_veteran: false
        use_thanksgiving: false
        use_aapi: false
    - default: studio # Collections for movie studios
      template_variables:
        include:
        - A24
        - Blue Sky Studios
        - DreamWorks Studios
        - DreamWorks Pictures
        - Pixar
        - Studio Ghibli
        - Walt Disney Animation Studios
        - Walt Disney Pictures
        - Walt Disney Productions
    - default: tautulli # Collections based on Tautulli data
    - default: universe # Collections for movie universes
    # Defines overlay files to be applied to movie posters.
    overlay_files:
    - default: commonsense
    - default: mediastinger
    - default: resolution
      template_variables:
        use_resolution: false
        use_edition: true
    - default: ribbon
    # Library-specific settings.
    settings:
      asset_directory:
      - config/assets/Movies/
      - config/assets/Collections/
      prioritize_assets: false
    # Operations to be performed on the library.
    operations:
    - schedule: daily
      assets_for_all: true
      delete_collections:
        configured: false
      metadata_backup:
        path: config/backups/Movies_Metadata_Backup.yml
        sync_tags: true
        add_blank_entries: false
    - schedule: Weekly (monday)
      mass_user_rating_update: mdb_tomatoes
    - schedule: Weekly (tuesday)
      mass_critic_rating_update: imdb
    - schedule: Weekly (wednesday)
      mass_audience_rating_update: tmdb
    - schedule: yearly(01/01)
      mass_genre_update:
      - tmdb
      - imdb
      - omdb
      - tvdb
    - schedule: Weekly (friday)
      mass_content_rating_update:
      - mdb_commonsense
      - omdb
    - schedule: Weekly (saturday)
      mass_studio_update:
      - tmdb
      - tvdb
      - omdb
    - schedule: Weekly (sunday)
      mass_originally_avaliable_update:
      - tmdb
      - tvdb
      - omdb

  # Configuration for the 'TV Shows' library in Plex.
  TV Shows:
    schedule_overlays: weekly(tuesday|thursday|saturday)
    report_path: config/missing/TV_report.yml
    template_variables:
      use_separator: false
    library_name: TV Shows
    collection_files:
    - folder: config/tvshows
    - default: content_rating_au
    - default: continent
      template_variables:
        include:
        - Oceania
    - default: franchise
    - default: other_chart
      template_variables:
        use_anidb: false
        use_stevenlu: false
        use_pirated: false
        visible_library_commonsense: true
        visible_home_commonsense: true
        visible_shared_commonsense: true
    - default: tautulli
    - default: universe
    metadata_files:
    - folder: config/metadata_folders
    overlay_files:
    - default: commonsense
    - default: status
    - default: ribbon
    settings:
      asset_directory:
      - config/assets/TV Shows/
      - config/assets/Collections/
      prioritize_assets: true
    operations:
    - schedule: daily
      assets_for_all: true
      delete_collections:
        configured: false
      metadata_backup:
        path: config/backups/TVShows_Metadata_Backup.yml
        sync_tags: true
        add_blank_entries: false
    - schedule: Weekly (monday)
      mass_user_rating_update: mdb_tomatoes
    - schedule: Weekly (tuesday)
      mass_critic_rating_update: imdb
    - schedule: Weekly (wednesday)
      mass_audience_rating_update: tmdb
    - schedule: yearly (01/01)
      mass_genre_update:
      - tmdb
      - imdb
      - omdb
      - tvdb
    - schedule: Weekly (friday)
      mass_content_rating_update:
      - mdb_commonsense
      - omdb
    - schedule: Weekly (saturday)
      mass_studio_update:
      - tmdb
      - tvdb
      - omdb
    - schedule: Weekly (sunday)
      mass_originally_avaliable_update:
      - tmdb
      - tvdb
      - omdb

  # Configuration for the 'Music' library in Plex.
  Music:
    schedule: weekly (sunday)
    library_name: Music
    collection_files:
    - folder: config/music
    settings:
      asset_directory: config/assets/Music

# Defines playlist files to be processed.
playlist_files:
- default: playlist
  template_variables:
    libraries: Movies, TV Shows

# Global settings for Kometa.
settings:
  cache: true
  cache_expiration: 2048
  asset_directory: config/assets
  report_path: config/missing
  asset_folders: true
  asset_depth: 1
  create_asset_folders: true
  prioritize_assets: false
  dimensional_asset_rename: true
  download_url_assets: true
  show_missing_season_assets: false
  show_missing_episode_assets: false
  show_asset_not_needed: false
  sync_mode: sync
  minimum_items: 1
  default_collection_order:
  delete_below_minimum: true
  delete_not_scheduled: true
  run_again_delay: 2
  missing_only_released: true
  only_filter_missing: false
  show_unmanaged: true
  show_unconfigured: true
  show_filtered: false
  show_options: false
  show_missing: false
  show_missing_assets: false
  save_report: false
  tvdb_language: eng
  ignore_ids:
  ignore_imdb_ids:
  item_refresh_delay: 0
  playlist_sync_to_user: all
  playlist_exclude_users:
  playlist_report: false
  verify_ssl: false
  custom_repo:
  check_nightly: true
  run_order:
  - operations
  - metadata
  - collections
  - overlays
  overlay_artwork_filetype: jpg
  overlay_artwork_quality:
  show_unfiltered: false

# Webhook settings for sending notifications.
webhooks:
  error: notifiarr
  version: notifiarr
  run_start: notifiarr
  run_end: notifiarr
  changes: notifiarr
  delete:

# Plex connection settings.
plex:
  url: http://localhost:32400
  token: [REDACTED] # Your Plex token
  timeout: 600
  clean_bundles: false
  empty_trash: false
  optimize: false
  db_cache:

# TMDb (The Movie Database) API settings.
tmdb:
  apikey: [REDACTED] # Your TMDb API key
  language: en
  cache_expiration: 600
  region:

# Tautulli connection settings.
tautulli:
  url: http://localhost:1818
  apikey: [REDACTED] # Your Tautulli API key

# OMDb (Open Movie Database) API settings.
omdb:
  apikey: [REDACTED] # Your OMDb API key
  cache_expiration: 600

# MDbList connection settings.
mdblist:
  apikey: [REDACTED] # Your MDbList API key
  cache_expiration: 600

# Notifiarr connection settings.
notifiarr:
  apikey: [REDACTED] # Your Notifiarr API key

# Radarr connection settings.
radarr:
  url: http://localhost:7878
  token: [REDACTED] # Your Radarr API token
  add_missing: false
  add_existing: false
  root_folder_path: Z:\data\media\movies
  monitor: true
  availability: announced
  quality_profile: HD Bluray + Web
  tag:
  search: false
  radarr_path:
  plex_path:
  upgrade_existing: false
  ignore_cache: false

# Sonarr connection settings.
sonarr:
  url: http://localhost:8989
  token: [REDACTED] # Your Sonarr API token
  add_missing: false
  add_existing: false
  root_folder_path: Z:\data\media\tv
  monitor: all
  quality_profile: WEB-1080p
  language_profile: English
  series_type: standard
  season_folder: true
  tag:
  search: false
  cutoff_search: false
  sonarr_path:
  plex_path:
  upgrade_existing: false
  ignore_cache: false

# Trakt connection settings.
trakt:
  client_id: [REDACTED] # Your Trakt client ID
  client_secret: [REDACTED] # Your Trakt client secret
  pin:
  authorization:
    access_token: [REDACTED]
    token_type: [REDACTED]
    expires_in: [REDACTED]
    refresh_token: [REDACTED]
    scope: [REDACTED]
    created_at: [REDACTED]
